
# ignore all data files/folders

__pycache__/
*.pyc
**/stocks/
**/tmp/
**/ohlc/
**/earnings/
**/overviews/
**/income_stmts/
**/logs/
**/.ipynb_checkpoints/
**/data/
**/sharesoutstanding/
**/fundamental/
**/av_fundamental/
**/gap/
